<div class="accordion animated fadeIn" id="accordionExample">
    <div class="card text-white bg-secondary">
        <div class="card-header bg-dark" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-lg text-white text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-exclamation-circle fa-2x fa-fw"></i>
                    Recomendación
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Se recomienda utilizar tweets recolectados utilizando algunos de los siguientes filtros de busqueda.
                <ul>
                    <li> Código Penal </li>
                    <li> Fuerzas Armadas </li>
                    <li> Represión </li>
                    <li> Ley </li>
                    <li> Elección </li>
                    <li> Apoyo </li>
                    <li> Vecinos </li>
                    <li> Gobierno </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>